{{ block "footer" . }}
<footer class="h2 pt1 tc fixed-ns bottom-0-ns w-75-ns">
  {{ if .Site.Menus.footer }}
  {{- range .Site.Menus.footer -}}
  <a style="line-height: 20px" href="{{ .URL | relLangURL }}">{{- .Name -}}</a>
  {{ end }}
  {{ end }}
</footer>
{{ end }}
