<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}

  <body class="w-75-ns center-ns">

    {{- partial "header.html" . -}}

    {{- block "main" . }}
    {{- end }}

    {{- partial "footer.html" . -}}

  </body>
</html>
