{{ define "main" }}

{{ if .Content }}
  {{ partial "single" . }}
{{else}}
  <h1 class="tc mid-gray">
    {{- .Title | markdownify -}}
  </h1>
{{ end }}

{{ range .Paginator.Pages }}
  <div class="tdc-bg-pastel-blue mb3 ba b--transparent br3 pa3">
    <h2><a href="{{ .RelPermalink }}">{{- .Title | markdownify }}</a></h2>
    <div>
      {{ partial "gallery.html" . }}
      {{ partial "post_meta.html" . }}
    </div>
  </div>
{{ end }}

{{/* template "_internal/pagination.html" . */}}

{{ end }}
