@import "tachyons";
@import "colors";
@import "sticky-header";

.sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
  background: $bg-pastel;
  font-size: 0.65em;
}

nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

nav li {
  position: relative;
  margin: 0;
}

nav ul{
  list-style: none;
}

nav a{
  color: $nav-color;
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  display: block;
  transition: all ease-out 300ms;
}

nav img{
  max-width: 10rem;
}

.bg-color {
  background-color: $bg-pastel;
}

body{
  font-family: Mulish;
}

article {
  @extend .tj, .pb3;
  text-indent: 1em;
}

table img {
  float: none;
}

a {
    @extend .link, .dim;
    color: $link-color;
}

article table{
  @extend .center;
}

article p {
  @extend .lh-copy;
}

article li{
  @extend .list, .lh-copy;
  text-indent: 0;
}

p {
    @extend .flex, .flex-wrap, .items-end;
}

p img{
    @extend .center, .w-50, .w-33-ns, .pa1, .db;
}

footer {
  background-color: $footer-bg-color;
}

footer a{
  @extend .white-90, .f4, .b;
  color: $footer-link-color;
}

h1{
  @extend .bb, .pa1;
  color: $page-title-color;
  border-color: $page-title-color;
}

article h2{
  @extend .tc;
  color: $subtitle-color;
}

