*{
    box-sizing: border-box;
  }
  
  input[name="slider-select-element"] {
    display: none;
  }
  
  #element1:checked ~ #slider-arrows label:nth-child(2),
  #element2:checked ~ #slider-arrows label:nth-child(3),
  #element3:checked ~ #slider-arrows label:nth-child(1), {
    display: block;
    float: right;
  }
  
  #element1:checked ~ #slider-arrows label:nth-child(3),
  #element2:checked ~ #slider-arrows label:nth-child(1),
  #element3:checked ~ #slider-arrows label:nth-child(2) {
    display: block;
    float: left;
  }
  
  #element1:checked ~ #slider-arrows label:nth-child(2):before,
  #element2:checked ~ #slider-arrows label:nth-child(3):before,
  #element3:checked ~ #slider-arrows label:nth-child(1):before{
    color: $tdc-upm-gray;
    content: "\f054";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: antialised;
  }
  
  #element1:checked ~ #slider-arrows label:nth-child(3):before,
  #element2:checked ~ #slider-arrows label:nth-child(1):before,
  #element3:checked ~ #slider-arrows label:nth-child(2):before{
    color: $tdc-upm-gray;
    content: "\f053";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: antialised;
  }
  
  #element1:checked ~ #slider-container #slider-box {
    margin-left: 0px;
  }
  
  #element2:checked ~ #slider-container #slider-box {
    margin-left: -100%;
  }
  
  #element3:checked ~ #slider-container #slider-box {
    margin-left: -200%;
  }
  
  #slider-arrows label{
    display: none;
    color: transparent;
    cursor: pointer;
    font-size: 30px;
    height: 20px;
    width: 20px;
  }
  
  #slider-arrows {
    margin: -15% auto 0 auto;
  }
  
  #slider-box{
    width: 300%;
    -webkit-transition: all 0.75s ease;
      -moz-transition: all 0.75s ease;
      -ms-transition: all 0.75s ease;
      -o-transition: all 0.75s ease;
      transition: all 0.75s ease;
  }
  #slider-container{
    width: 80%;
    height: 20%;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
  }
  
  .element-principal, 
  .element-eit, 
  .element-techpeoplecare {
    width: 100%;
    height: 200px;
  }
  
  .slider-element{
    float: left;
    width: 33.333%;
  }