$tdc-upm-green: rgb(134, 109, 75);
$tdc-upm-gray: rgb(138, 141, 143);
$tdc-upm-black: rgb(45, 41, 38);
$tdc-upm-lightblue: rgb(0, 169, 224);
$tdc-upm-blue: rgb(0, 114, 206);

$tdc-tpc-primary: #54758E;
$tdc-tpc-ligth-green: #B8DBDA;
$tdc-tpc-yellow: #FFF9C1;
$tdc-tpc-ligth-blue: #CBDFF1;
$tdc-tpc-rose: #FFD7D7;
$tdc-tpc-white: #FFFFFF;

$tdc-pastel-green: #b8dbda;
$tdc-pastel-pink: #ffd7d7;
$tdc-pastel-yellow: #fff9c1;
$tdc-pastel-blue: #cbdff1;
$tdc-pastel-orange: #da8f69;
$tdc-pastel-gray:#e6e6d8;

$tdc-blue-link: rgb(33,109,174);
