@import "tachyons";
@import "colors";
@import "carrousel";
@import "sticky-header";


nav a{
  @extend .link, .dim, .f4, .f4-ns, .dib, .pv2, .ph2, .gray;
}

.tdc-bg-pastel-blue {
  background-color: $tdc-pastel-blue;
}

body{
  font-family: Mulish;
}

article {
  @extend .tj, .pb3;
  text-indent: 1em;
}

table img {
  float: none;
}

a {
    @extend .link, .dim;
    color: $tdc-blue-link;
}

article table{
  @extend .center;
}

article p {
  @extend .lh-copy;
}

article li{
  @extend .list, .lh-copy;
  text-indent: 0;
}

p {
    @extend .flex, .flex-wrap, .items-end;
}

p img{
    @extend .center, .w-50, .w-33-ns, .pa1, .db;
}

footer {
  background-color: $tdc-upm-blue;
}

footer a{
  @extend .white-90, .f4;
}

h1{
  @extend .bb, .b--mid-gray, .pa1;
}
