{{ block "footer" . }}
<footer class="pa1 pb1 tc fixed-ns bottom-0-ns" style="width: 67.5%;">
  {{ if .Site.Menus.footer }}
  {{- range .Site.Menus.footer -}}
  <a style="line-height: 20px" href="{{ .URL | relLangURL }}">{{- .Name -}}</a>
  {{ end }}
  {{ end }}
</footer>
{{ end }}
