{{ block "header" . }}
<header>
  <div class="tr">
    {{ range $.Site.Languages }}
    <a class="link dim" href="/{{ . }}">
      <span {{ if eq . $.Site.Language }}class="b"{{ end }}>{{ . }}</span>
    </a>
    {{ end }}
  </div>

  <!--<div class="tc">
    <a class="link dim" href="/" title="Home">
      <img class="mw5" src="/images/logo.png">
    </a>
  </div>-->

  <!--<nav class="pa2 tc">
      {{- range .Site.Menus.main -}}
      <a class="link dim f4 f4-ns dib mr3 ph1 pv2" href="{{ .URL | relLangURL }}">{{- .Name -}}</a>
      {{ end }}
  </nav>-->
</header>


{{ end }}
