{{ block "sidebar" . }}
    <aside class="sidebar">
      <nav class="nav">
        <ul>
          <li>
            <a class="link dim" href="/" title="Home">
              <img src="/images/logo.png">
            </a>
          </li>
          {{- range .Site.Menus.main -}}
          <li class="active"><a href="{{ .URL | relLangURL }}">{{- .Name -}}</a></li>
          {{ end }}
        </ul>
      </nav>
    </aside>

{{ end }}