<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {{- block "title" . -}}
    {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
    {{- end -}}
  </title>

  <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  {{ $sass := resources.Get "css/style.scss" }}
  {{ $style := $sass | resources.ToCSS | minify }}
  <style>
   {{- $style.Content | safeCSS -}}
  </style>

  {{- if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{- end -}}

  {{ template "_internal/google_analytics_async.html" . }}

  {{ partial "head_custom" . }}
</head>
