{{ block "header" . }}
<header>

  <div class="tc pa2 pb4">
    <a class="link dim" href="/" title="Home">
      <img class="mw5" src="/images/logo.png">
    </a>
  </div>
  <div class="tr">
    {{ range $.Site.Languages }}
    <a class="link dim" href="/{{ . }}">
      <span {{ if eq . $.Site.Language }}class="b"{{ end }}>{{ . }}</span>
    </a>
    {{ end }}
  </div>
  <nav class="pa2 tc">
      {{- range .Site.Menus.main -}}
      <a href="{{ .URL | relLangURL }}">{{- .Name -}}</a>
      {{ end }}
  </nav>

</header>



{{ end }}
