$link-color: #c568a2;
$bg-pastel: #eef2db;
$footer-bg-color: #6b074a;
$nav-bg-color: #6b074a;
$nav-color: white;
$page-title-color: #41032c;
$subtitle-color: #705335;
$footer-link-color: white;
$footer-text-color: white;