@import "tachyons";
@import "colors";
@import "sticky-header";

nav {
  background-color: $nav-bg-color;
}

nav a{
  @extend .link, .dim, .f4, .f4-ns, .dib, .pv3, .ph3;
  color: $nav-color;
}

.bg-color {
  background-color: $bg-pastel;
}

body{
  font-family: 'Segoe UI';
}

article {
  @extend .tj, .pb3;
  text-indent: 1em;
}

table img {
  float: none;
}

a {
    @extend .link, .dim;
    color: $link-color;
}

article table{
  @extend .center;
}

article p {
  @extend .lh-copy;
}

article li{
  @extend .list, .lh-copy;
  text-indent: 0;
}

p {
    @extend .flex, .flex-wrap, .items-end;
}

p img{
    @extend .center, .w-50, .w-33-ns, .pa1, .db;
}

footer {
  @extend .pb6, .pa6, .tc;
  background-color: $footer-bg-color;
  color: $footer-text-color;
}

footer code{
  text-decoration: none;
}

footer ul {
  list-style-type: none;
}
h1{
  @extend .bb, .pa1;
  color: $page-title-color;
  border-color: $page-title-color;
}

article h2{
  @extend .tc;
  color: $subtitle-color;
}

