{{ define "main" }}

<h1 class="tc mid-gray">
  {{- .Title | markdownify -}}
</h1>

<img src="/images/principal.png">

<!--
<section class= "tc" style="margin-bottom: 10rem">
  <input type="radio" name="slider-select-element" id="element1" checked="checked" />
  <input type="radio" name="slider-select-element" id="element2" />
  <input type="radio" name="slider-select-element" id="element3" />
  <div id="slider-container">
      <div id="slider-box">
          <div class="slider-element">
              <article class="element-principal">
              <img src="/images/principal.png">
              </article>
          </div>
          <div class="slider-element">
              <article class="element-eit">
              <img src="/images/eit_project.png">
              </article>
          </div>
          <div class="slider-element">
              <article class="element-techpeoplecare">
              <img src="/images/techpeoplecare_project.png">
              </article>
          </div>
      </div>
  </div>
  <div id="slider-arrows">
      <label for="element1">Elemento 1</label>
      <label for="element2">Elemento 2</label>
      <label for="element3">Elemento 3</label>
</section>
-->
<article>
  {{ .Content }}
</article>
{{ end }}
