<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  

  <body class="w-90-ns center-ns">
    <div class="w-75-ns fr-ns">
    {{- partial "header.html" . -}}
    </div>

    <div class="fl-ns">
        {{ partial "sidebar.html" . }}
    </div>
    
    <div class="w-75-ns fr-ns">
      {{- block "main" . }}
    {{- end }}
    </div>

    <div class="w-75-ns fr-ns">
    {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
